server:
  port: 9091
spring:
  jpa:
    database: mysql
  datasource:
    url: jdbc:mysql://issuedb:3306/issuedb
    username: root
    password: 1Thewinterstar197
  application:
    name: issue-tracker-service

storage:
  folder:
    issue-attachments-folder: "/issue/attachments/"
    attachment-download-endpoint: "http://localhost:9091/issue/attachments/"

logging:
  logback:
    appender:
      name: "fileAppender"
    encoder:
      pattern: "%d [%thread] %-5level  %logger{35} - %msg%n"
    rollingpolicy:
      file-name-pattern: "/logs/issue-tracker-service/logFile.%d{yyyy-MM-dd}.log"
      max-history: 3
  level:
    root: info

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: "/issue/actuator"

cache:
  config:
    eh-cache-name: "issue-cache-eh"
    eviction-policy: "LRU"
    max-entries: 1000
    time-to-live-seconds: 60

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    hostname: service-registry

