server:
  port: 9091
spring:
  jpa:
    database: mysql
  datasource:
    url: jdbc:mysql://issuedb:3306/issuedb
    username: root
    password: 1Thewinterstar197
  application:
    name: issue-tracker-service

storage:
  folder:
    issue-attachments-folder: "/issue/attachments/"
    issue-volume-folder: "//wsl$/docker-desktop-data/version-pack-data/community/docker/volumes/issueattachments/_data/"

logging:
  level:
    root: info
    org:
      springframework: info

cache:
  config:
    eh-cache-name: "issue-cache-eh"
    eviction-policy: "LRU"
    max-entries: 1000
    time-to-live-seconds: 60

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    hostname: service-registry

